html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{ overflow:hidden !important;/* jx 库会给html写overflow-y: auto;*/ }
ul, li, button{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}
body, textarea, button, input{
    font-family: tahoma, '微软雅黑', '宋体',helvetica,clean,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.content{
    height: 100%;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: -webkit-linear-gradient(120deg, #80B3CC, #1A76A3);
}
header{
    position: relative;
    height: 120px;
}
.body{
    /*display: -webkit-box;*/
    -webkit-box-flex: 1;
    position: relative;
}
footer{
    height: 100px;
}
.title{
    font-size: 80px;
    text-indent: 0.5em;
}

.toolbar {
    font-size: 20px;
    position: absolute;
    bottom: 1em;
    right: 0.5em;
}
.toolbar .button{
    margin: 0 5px;
}

/********************** note-list ********/
.note-list-container{
    /*-webkit-box-flex: 1;*/
    overflow-x: auto;
}
.note-list{
    -webkit-column-width: 250px;
    -webkit-column-gap: 0;

    margin: 0 20px;
    width: 1350px;
    height: 420px;
}
.note-item{
    padding: 5px 10px;
    margin: 10px;
    width: 250px;
    height: 190px;
    box-sizing: border-box;
    display: inline-block;
}
.note-item-title{
    font-size: 30px;
}
.note-item-content{

}
.note-item-meta{
    text-align: right;
}

/********************* note-item color **********/
.note-item{
    background: -webkit-linear-gradient(0deg, #F43E31, #FD590B);
}
/********************* note-editor **********/
.note-editor-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.note-editor{
    /*-webkit-box-flex: 1;*/
    margin: 0 20px;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: -webkit-linear-gradient(120deg, #FD590B, #F43E31);
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.note-editor-header{
    height: 70px;
}
.note-editor-time{
    float: right;
    font-size: 16px;
    margin-top: 28px;
}
.note-editor-title{
    font-size: 34px;
    display: inline-block;
}
.note-editor-title input{
    font-size: 34px;
    padding: 0;
    margin: 0;
}
.note-editor-action{
    display: inline-block;
    margin-left: 30px;
}

.note-editor-body{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.note-editor-content{
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.note-editor-content textarea{
    margin: 0;
    box-sizing: border-box;
    resize: none;
}